<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>List page</title>
    <link rel="stylesheet" href="css/style.css">
    <meta name="author" content="Mike Hovenier">
    <meta name="keywords" content="Dating-app">
    <meta name="description" content="Dating-app for idk">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat+Alternates:ital,wght@0,500;1,500&family=Nunito+Sans:ital@0;1&display=swap"
        rel="stylesheet">
</head>

<body>
    <h1 class="users-header">Dating-app Users:</h1>
    <a href="/add" class="list-btn link-white">Add user</a>
    <a href="/index" class="list-btn link-white">Swipe some people</a>

    <section class="users-list">
        <% for (let index = 0; index < data.length; index++) {%>
        <p>Id: <%= data[index]._id%></p>
        <p>Firstname: <%= data[index].firstname %></p>
        <p>Lastname: <%= data[index].lastname %></p>
        <p>Username: <%= data[index].email %></p>
        <p>Gender: <%= data[index].gender %></p>
        <p>Looking for: <%= data[index].lookingfor %></p>
        <p>Age: <%= data[index].age %></p>
        <p>City: <%= data[index].city %></p>
        <p>Characteristics: <%= data[index].characteristics %></p>
        <br>
        <% } %>
    </section>
</body>
<footer>
    <!-- made by: Mike Hovenier -->
</footer>

</html>